PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/portfolio?retryWrites=true&w=majority
ADMIN_PASSWORD=your_secure_admin_password
EMAIL_USER=dunnaumesh2006@gmail.com
EMAIL_PASS=your_gmail_app_password_here
